.sri{
     border:1px solid black;
	 width:370px;
	 height:355px;
	 
}
.sri1{
     border:2px solid black;
	 width:340px;
	 height:30px;
	 margin-left:10px;
	 margin-top:10px;
	
	 
}
.sri2{
     border:2px solid black;
	 width:80px;
	 height:80px;
	margin-left:10px;
margin-top:10px;
}	 
.sri3{
     border:2px solid black;
	 width:80px;
	 height:80px;
	margin-left:10px;
	 margin-top:10px;
	
}
.sri4{
     border:2px solid black;
	 width:80px;
	 height:80px;
	margin-left:10px;
	 margin-top:10px;
	
}

.sri5{
     border:2px solid black;
	 width:120px;
	 height:271px;
	margin-left:110px;
	 margin-top:-271px;
	 float:left;
	
}
.sri6{
     border:2px solid black;
	 width:80px;
	 height:80px;
	margin-left:260px;
	 margin-top:-271px;
	
}
.sri7{
     border:2px solid black;
	 width:80px;
	 height:80px;
	margin-left:260px;
	 margin-top:11px;
	
}
.sri8{
     border:2px solid black;
	 width:80px;
	 height:80px;
     margin-left:260px;
	 margin-top:12px;
	
}


