.sri{

     border:2px solid black;

	 width:680px;

	 height:70px;

	 
	}
.sri1{
	border:2px solid black;
	width:0.5px;
	height:0.5px;
	margin:20px 330px;
	padding:15px 15px;
	
}
.sri2{
	border:2px solid black;
	width:0.5px;
	height:0.8px;
	margin-top:-53px;
	margin-left:285px;
	padding:15px 15px;
        margin-bottom:-0.9px;

	
}
