.sri{
     border:2px solid red;
	 width:600px;
	 height:300px;
	 margin:80px;
	}
.sri1{
	  border:1px solid green;
	  width:70px;
	  height:70px;
	  padding:20px 20px ;
	  margin:100px 250px ;
	  
}