.sri{
     border:2px solid black;
	 width:364px;
	 height:363px;
	 float:left;
}

.a{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}

.b{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.c{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.d{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.e{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.f{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.g{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.h{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.i{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.j{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}

.k{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.l{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}

.m{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.n{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.o{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.p{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.q{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.r{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.s{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.t{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.u{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.v{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.w{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.x{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.y{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.z{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a1{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a2{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a3{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a4{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a5{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a6{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a7{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a8{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a9{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a10{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a11{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a12{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a13{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a14{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a15{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a16{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a17{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a18{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a19{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a20{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a21{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
.a22{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:blue;
	float:left;
}
.a23{
	border:1px solid black;
	width:50px;
	height:50px;
	background-color:yellow;
	float:left;
}
